{% extends 'base.html.twig' %}

{% block title %}Progression{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ book.title }} Progression: {{ progression }}%</h1>

        <form method="post" action="{{ path('progression_update', {'book': book.id}) }}">
            <div class="row">
                {% for i in 1..100 %}
                    {% set button = buttons[i] %}
                    <div class="col-1 mb-2">
                        <div class="btn btn-light d-flex align-items-center justify-content-center
                                    {% if button.isChecked %}bg-success text-white{% endif %}"
                             style="width: 60px; height: 60px; font-size: 1.5rem; border-radius: 0; position: relative;">
                            <!-- Case à cocher cachée -->
                            <input type="checkbox" 
                                   name="progression_ids[]" 
                                   value="{{ i }}" 
                                   {% if button.isChecked %}checked{% endif %} 
                                   style="position: absolute; opacity: 0; cursor: pointer; width: 100%; height: 100%; z-index: 1;"
                                   onchange="this.form.submit();">
                            {{ i }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
    <!-- Ajouter un bouton pour revenir à la liste des livres -->
    <a href="{{ path('book_detail', {'id': book.id}) }}" class="btn btn-secondary mt-2">Retour à la liste détails</a></br>
    <a href="{{ path('book_list') }}" class="btn btn-secondary mt-2">Retour à la liste des livres</a
{% endblock %}






