{% extends 'base.html.twig' %}

{% block title %}Télécharger une image{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Télécharger une image</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.image, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    {{ form_end(form) }}
</div>
    <!-- Ajouter un bouton pour revenir à la liste des livres -->
    <a href="{{ path('book_list') }}" class="btn btn-secondary mt-2">Retour à la liste des livres</a>
    <a href="{{ path('user_images') }}" class="btn btn-secondary mt-2">Galerie</a>
{% endblock %}