{% extends 'base.html.twig' %}

{% block title %}Détails du livre{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>
    <p>Auteur : {{ book.author }}</p>
    <p>Date de publication : {{ book.publishedDate|date('d/m/Y') }}</p>
    <p>{{ book.description }}</p>
    <a href="{{ path('book_list') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
